<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../public/assests/css/burger_style.css" type="text/css" />
    <title>Eat a Burger!</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link rel="stylesheet" href="assests/css/burger_style.css">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    {{!-- jQuery --}}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    {{!-- Custom Script --}}
    <script src="/assests/js/burgers.js"></script>

</head>

<body>
    {{{ body }}}
</body>

</html>